
figures/SAVE.fig
figures/*.pdf
figures/**.eps
figures/*.tex
**.aux
**.blg
**.dvi
**.bbl
**.idx
**.ilg
**.ind
**.lof
**.log
**.lot
**.nav
**.out
**.pdf
**.snm
**.synctex.gz
**.toc
**.fig.bak
.DS_Store
**.eps
!GIAM.pdf
!GIAM-hw.pdf
!GIAM-solutions_manual.pdf
